.card {
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-white);
  margin: var(--spacing-small) 0;
  padding: var(--spacing-small);
  background-color: var(--bg-grey);
  border-radius: 16px;
}
.card.none {
  display: none;
}
.card .card_left {
  gap: var(--spacing-small);
}
.card .card_right {
  margin-left: var(--spacing-small);
}
.iconChecked,
.iconNoChecked {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  flex-shrink: 0;
  display: none;
}
.iconChecked.flex,
.iconNoChecked.flex {
  display: flex;
}
.iconChecked.none,
.iconNoChecked.none {
  display: none;
}
.textCard {
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.textCard.taskDone {
  text-decoration: line-through;
  color: grey;
}
