/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contenuto principale */
.container {
  margin: 0 auto;
  width: 100%;
}
.scheda {
  background-color: var(--bg-scheda);
  height: 100vh;
}
